@import "../../scss/common.styles.scss";

.journalComponent {
    h1 {
        margin-top: 0;
        color: $hopkins-dark-blue;
        text-align: center;
    }
    .journalFormContainer {
        position: relative;
        padding: 20px 20px 10px 20px;
        background: $main-1;
        border: 8px solid $hopkins-dark-blue;
        border-radius: 10px;
        box-shadow: $shadow-medium;
        .inputField {
            display: flex;
            width: 100%;
            margin-top: 25px;
            padding-bottom: 5px;
            color: $gray;
            font-size: $font-size-medium;
            border-bottom: 2px solid $hopkins-dark-blue;
        }
        label {
            position: absolute;
            top: 20px;
            font-size: $font-size-l;
        }
        .inputField:focus {
            border-color: $harvard-red;
        }
        .inputField:focus + label {
            color: $harvard-red;
        }
        .detailsInputContainer {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .inputContainer {
                width: 20%;
                label {
                    top: 0;
                }
            }
        }
        .journalTextAreaContainer {
            .textArea {
                width: 100%;
                margin-top: 20px;
                padding: 20px;
                color: $gray;
                font-size: $font-size-medium;
                border: 2px solid $hopkins-dark-blue;
                border-radius: 5px;
                line-height: 1.5;
            }
            .textArea::placeholder {
                font-size: $font-size-medium;
            }
            .textArea:focus {
                border-color: $harvard-red;
            }
            .textArea:focus::placeholder {
                color: $harvard-red;
            }
        }
        .buttonContainer {
            .journalFormSubmitButton {
                @extend .submitButton;
                margin-top: 5px;
            }
        }
    }
}