@import "../../scss/common.styles.scss";

.journalComponent {
    .titleContainer {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .titleButtonContainer {
            position: absolute;
            display: flex;
            left: 0;
            top: 0;
            .disabledOpacity {
                opacity: .35;
                transition: .5s;
            }
            .disabledOpacity:hover {
                opacity: 1;
                transition: .5s;
            }
            .journalFormAddButton {
                width: 35px;
                height: 35px;
            }
            .journalFormMenuButton {
                @extend .journalFormAddButton;
            }
        }
        h1 {
            margin: auto;
            color: $hopkins-dark-blue;
        }
    }
}