* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover, button:hover, div[role=button] {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

.mainContainer {
    height: 100vh;
    overflow: hidden;
}

.bodyContainer {
    display: flex;
    height: calc(100vh - 140px)
}

.outerComponentContainer {
    width: calc(100% - 140px);
    height: 100%;
    padding: 20px;
    overflow: scroll;
}