@import "./variables.scss";

input,
textarea,
button {
    background: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    resize: none;
}

input:focus, 
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    font-size: $font-size-normal;
    color: $main-2;
    font-weight: 500;
    opacity: 30%;
}

.buttonContainer {
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.submitButton {
    width: 280px;
    height: 40px;
    background: $hopkins-dark-blue;
    color: $main-1;
    font-size: $font-size-medium;
    border: none;
    outline: none;
    letter-spacing: 1.4px;
}
.submitButton:hover {
    cursor: pointer;
}
.submitButton:disabled {
    opacity: 0.55; 
    cursor: not-allowed;
}

.hoverable {
    -webkit-transition: -webkit-box-shadow .5s;
    transition: -webkit-box-shadow .5s;
    transition: box-shadow .5s;
    transition: box-shadow .5s, -webkit-box-shadow .5s;
}
.hoverable:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}